*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3;
  box-sizing: border-box;
  background-color: #eff3f4;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.visible {
  visibility: visible;
  pointer-events: all;
}

.currency {
  font-family: sans-serif;
}

strong {
  font-weight: 400;
}
