.footer-container {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 2.2rem;
  margin: 6rem 0 4rem;
  color: #605a57;
}

.footer-text-clear {
  opacity: 0.3;
  text-decoration: underline;
  transition: all 0.3s;
  cursor: pointer;
}

.footer-text-clear:hover {
  opacity: 1;
}

@media only screen and (max-width: 360px) {
  .footer-container {
    flex-direction: column-reverse;
    text-align: center;
    margin: 4rem 0;
  }

  .footer-text-clear {
    margin-top: 2rem;
  }
}
